body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 20px;}
h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; font-size: 25px; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px; 
  font-size: 12px;
}

.a th {
    background-color: #add8e6;
    color: white;
}

.b th {
    background-color: #77dd77;
    color: white;
}
form{text-align: left;}
form select{width: 250px; height: 25px;}
form input{width: 120px; height: 25px;}
table.dataframe tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

.container-fluid{

width: 90%;
overflow: hidden;
	
}

canvas{
	width: 100%;
	height: auto;
}

/*tr:hover            { background-color: #ffff99;}*/