<!DOCTYPE html>
<html lang="en">
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.css">
	<meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">

		<div class="row">		
			<div class="col-md-12">
				<img src="static/img/logo.svg" width="700px;" class="img-responsive logo">
			</div>						
		</div>				
	</div>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background: #727175; color: #fff;">
		<div class="container-fluid">
			<h2>Pronóstico de tasa de cambio a 7 días del precio de cierre.</h2>
			<h2>Nota: los pronósticos presentados aquí son parte de las pruebas para medir cómo se desempeña el modelo construido por cada emisora.</h2> 
		</div>
	</div>
	<hr>

		<div class="row">		
			<div class="col-md-4">
			</div>
			<div class="col-lg-4">
				<h2>Seleccionar emisora:</h2>	
				<!--<form class="form-signin" action = "http://127.0.0.1:5000/line_chart" method = "POST">-->
                <form class="form-signin" action = "/periodos" method = "POST">				
					<div class="form-group">
						<label for="emisora" class="sr-only">Emisora</label>
						<select class="form-control" name="emisora" id="emisora" required>
						    <option value="AMXL" label="AMXL">AMXL</option>
				            <option value="NAFTRAC" label="NAFTRAC">NAFTRAC</option>
							<option value="LALA" label="LALA">LALA</option>
							<option value="LACOMUBC" label="LACOMUBC">LACOMUBC</option>
							<option value="LIVEPOLC" label="LIVEPOLC">LIVEPOLC</option>
							<option value="ALSEA" label="ALSEA">ALSEA</option>
							<option value="GFNORTEO" label="GFNORTEO">GFNORTEO</option>
							<option value="AXTELCPO" label="AXTELCPO">AXTELCPO</option>
						</select> 
					</div>					
					<button type="submit" class="btn btn-default btn-lg"><i class="fa fa-line-chart" aria-hidden="true"></i> Consultar</button>
				</form>
			</div>
			<div class="col-md-4">
			</div>
		</div>	

		<hr>
		<div class="jumbotron">
	<div class="container-fluid">
        <div class="list-group-item active">
	    <p style="font-size:25px;" >La tasa de cambio se toma con respecto a 8 días atrás del precio correspondiente. La fórmula usada es (precio actual - precio de hace 8 días)/precio de hace 8 días, multiplicado por 100.</p>
	    <p style="font-size:25px;">El pronóstico es un promedio de las mejores aproximaciones alcanzadas con el modelo (*).</p>
	    <p style="font-size:25px;">La actualización del modelo se realiza con los precios de cierre disponibles hasta el último día hábil anterior a la fecha de actualización. La parte en gris de cada gráfica corresponde a los datos disponibles hasta la fecha de la actualización correspondiente.</p> 
		</div>
	  </div>	
    </div>

		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning" role="alert">
					<p style="font-size:25px;">(*) El modelo consiste en una red neuronal recurrente el cual busca aproximarse a los valores reales mediante una curva. La mejor aproximación de un modelo puede estar en función de la capacidad y tiempo de ejecución con el que se cuente. </p>
				</div>
			</div>
		</div>


		<hr>

		<!-- Site footer -->
		<footer class="footer">
			<p>&copy; 2018 PCM.</p>
		</footer>
	</div>

	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

</body>	
</html>