<!DOCTYPE html>
<html lang="en">
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<meta charset="utf-8">
</head>

<body>

	<div class="container-fluid">

		<div class="row">		
			<div class="col-md-12">
				<img src="static/img/logo.svg" width="700px;" class="img-responsive logo">
			</div>						
		</div>				
	</div>



	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background: #727175; color: #fff;">
		<div class="container-fluid">
			<h2>America Movil SAB de CV (AMXL).</h2>
		</div>
	</div>
	<hr>
<script>
    $(document).ready(function () {
            
            var url = "static/periodosAMXL.json";
            $.ajaxSetup({ cache: false });
            $.getJSON(url, function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#ejemplo').append('<option value="' + value.id + '">' + value.date + '</option>');
                });
            });
    });
</script>
			
		<div class="row">		
			<div class="col-md-4">
			</div>
			<div class="col-lg-4">
				<h2>Seleccionar pronóstico</h2>	
				<!--<form class="form-signin" action = "http://127.0.0.1:5000/line_chart" method = "POST">-->
                <form class="form-signin" action = "/pronosticoAMXL" method = "POST">				
					<div class="form-group">
						<label for="ejemplo" class="sr-only">Pronósticos anteriores</label>
						<select onmousedown="if(this.options.length>5){this.size=5;}"  onchange='this.size=0;' onblur="this.size=0;" class="form-control" name="ejemplo" id="ejemplo" required>

						</select> 
					</div>					
					<button type="submit" class="btn btn-default btn-lg"><i class="fa fa-line-chart" aria-hidden="true"></i> Consultar</button>
				</form>
			</div>
			<div class="col-md-4">
			</div>
		</div>	

		<hr>

		<hr>

		<!-- Site footer -->
		<footer class="footer">
			<p>&copy; 2018 PCM.</p>
		</footer>
	</div>

	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

</body>	
</html>